*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.hcontainer {
  margin-left: 30px;
  min-width: 1200px;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  background-color: white;
  height: 80px;
  z-index: 999;
}

header ul li a:hover{
border-bottom: 1px solid black;
}

header ul li a {
  padding-bottom: 20px;
}

header ul li {
  line-height:100% ;
}


header li {
  list-style: none;
}
header li a{
  text-decoration: none;
  font-size: 12px;
  color: black;
}
.menu ul li {
  margin: 0 25px; }

  .primobott {
    background-color: lightskyblue;
    border: none;
    padding-left: 8px;
    padding-right: 8px;
  }

/*UTILITIES*/

.flex {
  display: flex;
}
.betw {
  justify-content: space-between;
}
.wrap {
  flex-wrap: wrap;
}

.h100 {
  height: 100%;

}

.around {
  justify-content: space-around;
}

.centra {
  align-items: center;
}

.jcentra{
  justify-content: center;
}

/*JUMBOTRON*/
.jumbotron {
  padding-top: 260px;
  height: 800px;
  display: flex;
align-items: center;
background-color: lightblue;  }

.jcontainer {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.jumbotron h1 {
  font-size: 5rem;
}

.bots {
  padding: 10px;
  margin-top: 30px;
  background-color: lightskyblue;
  border: none;
  color: white;
}
.little {
  margin-top: 10px;
}

.freccia {
  font-size: 50px;
left: 0px;
  font-weight: bold;

  ƒ
}
.image img {
  width: 100%;
  

}

.text {
  width: 40%;
  margin-top: 70px;
  position: relative;
}

.image {
  width: 60%;
  margin-top: 70px;
}
.riga {
  display: flex;
  flex-direction: row;
  position: relative;
}

/*s MAIN section*/


.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.main3 {
  margin-top: 300px;
  display: flex;
  flex-direction: column;

}

.main1 {
  margin-top: 100px;
  display: flex;
  flex-direction: column;

}
.radio {
  margin-top: 30px;
}

.colonna {
  width: calc(100% / 3);
  margin-right: 40px;
  border: 1px solid black;
  height: 800px;
}

.riga.section1 {
  margin-top: 50px;
}

.titolino {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.testo {
  margin-top: 20px;
  margin-left: 20px;
}

.prezzo {
  margin-top: 20px;
  font-weight: bold;
  font-size: 0.8rem;
}

.info {
  margin-top: 10px;
  font-size: 0.8rem;
  font-weight: 200;
}

.button {
  margin-top: 40px;
}
.colonna button {
  color: white;
  background-color: blue;
  padding: 10px;
}
.colonna a{
  color: blue;
}
.minil {
  margin-top: 50px;
  
}
.colonna h4 {
  margin-top: 40px;
  margin-bottom: 30px;
}

.colonna ul li {
  list-style: none;
  margin-top: 20px;
  font-size: 0.7rem;
}
.check {
  color: blue;
}

.riga2 {
  display: flex;
  flex-direction: row;
}
.colonna2 {
  width: calc(100%);
  margin-right: 40px;
  border: 1px solid black;
  height: 200px;
  margin-top: 40px;
  position: relative;


}

.colonna2 h4,
.colonna2 h6,
.colonna2 p

{
  margin-top: 20px;
  margin-left: 20px;
}
.colonna2 p {
  font-size: .8rem;
  position: relative;
}

.bottone {
  margin-right: 30px;
  margin-top: 10px;
  padding: 10px;
  background-color: lightskyblue;
  color: white;
  border: none;
}

.colonna3 {
  width: calc(100% / 2);
  height: 400px;
}

.riga2 h3 {
margin-top: 40px;
margin-left: 0px;
}

.riga2 p {
  margin-top: 40px;
  margin-left: 00px;
}
.p2 {
  margin-top: 40px;
  font-size: .8rem;

  margin-left: 20px;
}
.botpart {

  background-color: white;

}
.bott {
margin-top: 20px;
margin-left: 0px;
padding: 10px;
background-color:white;

color: gray;
border: 1px solid black;
}

.bott2 {
  margin-left: 300px;
  padding: 10px;
background-color:white;

color: gray;
border: 1px solid black;

}

.riga2 img{
  width: 80%;
  display: block;
  
}

.card {
  width: calc(100% / 3);
  height: 400px;
padding: 0 10px;  
margin-bottom: 20px;
}

.card img{
width: 60%;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card h4 {
  margin-left: 20px;

}

.main {
  margin-top: 80px;

}

.main h2{
  margin-bottom: 30px;
}

.main a{
  color: blue;
  font-size: .8rem;
}

.col {
width: 30vw ;  
border: 1px solid black;
height: 30vw;}
  
  
  
  .col2 {
width: 40vw;    
border: 1px solid black;
  height: 30vw;
   }
  
    .box {
  width: calc(100% / 2);
  border: 1px solid black;
  height: 15vw;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  }


  .boximg{
    display: flex;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vw;


  }
  .box.verde {
    background-color: green;
  }
  .col img {
    width: 60%;
  
  }
  .box.marrone {
    background-color: brown;
  }
  .box.blu {
    background-color: blue;
  }
  .box.bluchiaro{
    background-color: lightblue;
  }

  .box.giallo {
    background-color: rgb(246, 218, 9);
  }

  .box.rosso{
    background-color: lightcoral;
  }

  .col2 {
    position: relative;
    background-color: antiquewhite;
    display: flex
  }
  .col2 img {
width: 15%;
top: 30px;
left: 30px;
position: absolute;
  }

.col2 .t2{
    margin-top: 150px;
    margin-left: 30px;
  }  
 
.sep {
  height: 350px;
  width: 100%;
  background-color: lightblue;
}
.sep h3{
  color: brown;
  font-size: 2rem;

}
.cont {
  width: 100%;
  justify-content: center;
  align-items: center;
  
}

.bott {
  
  background-color:white; }

  .container2 {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 80px;
    margin-botto6m: 200px;
  }

  .container2 h2 {
    margin-bottom: 40px;
  }
  .linea{
    border-top:1 px solid red ;
  }

  .container2 hr{
    margin-bottom: 20px;
  }

  .container2 h4{
    margin-bottom: 20px;
  }

  footer {
    height: 400px;
    background-color: black;
    color: white;
    width: 100%;
    margin-top: 150px;
  }

  .footercont {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 80px;
  }

  .footercont ul li{
    list-style: none;
    margin-bottom: 15px;
    font-size: .6rem;
  }

.footercont ul li:first-child{
  margin-top: 15px;
}

.titololista {
  font-weight: bold;
}

.colo {
  margin-top: 60px;
  margin-left: 130px;
  margin-bottom: 23px;
}

.colo hr {
  margin-bottom: 40px;

}

.colo div{
  color: gray;
  font-size: .8rem;
}