*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.hcontainer {
  margin-left: 30px;
  min-width: 1200px;

 
}

header {
  position: fixed;
  left: 0;
  right: 0;
  background-color: darkorange;
  height: 80px;
  z-index: 999;
}
header li {
  list-style: none;
}
header li a{
  text-decoration: none;
  font-size: 12px;
  color: black;
}
.menu ul li {
  margin: 0 25px; }

/*UTILITIES*/

.flex {
  display: flex;
}
.betw {
  justify-content: space-between;
}
.wrap {
  flex-wrap: wrap;
}

.h100 {
  height: 100%;

}

.centra {
  align-items: center;
}

.jcentra{
  justify-content: center;
}

/*JUMBOTRON*/
.jumbotron {
  padding-top: 80px;
  height: 500px;
  display: flex;
align-items: center;
background-color: lightblue;  }

.jcontainer {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.image {
  width: 60%;
  background-color: lightgreen;
}

.text {
  width: 40%;
  background-color: brown;
}
.riga {
  display: flex;
  flex-direction: row;
}

/*s MAIN section*/


.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}


.main1 {
  margin-top: 80px;
  display: flex;
  flex-direction: column;

}
.radio {
  margin-top: 30px;
}

.colonna {
  width: calc(100% / 3);
  margin-right: 40px;
  border: 1px solid black;
  height: 800px;
}

.riga.section1 {
  margin-top: 50px;
}

.titolino {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.testo {
  margin-top: 20px;
  margin-left: 20px;
}

.prezzo {
  margin-top: 20px;
  font-weight: bold;
  font-size: 0.8rem;
}

.info {
  margin-top: 10px;
  font-size: 0.8rem;
  font-weight: 200;
}

.button {
  margin-top: 40px;
}
.colonna button {
  color: white;
  background-color: blue;
  padding: 10px;
}
.colonna a{
  color: blue;
}
.minil {
  margin-top: 50px;
  
}
.colonna h4 {
  margin-top: 40px;
  margin-bottom: 30px;
}

.colonna ul li {
  list-style: none;
  margin-top: 20px;
  font-size: 0.7rem;
}
.check {
  color: blue;
}

.riga2 {
  display: flex;
  flex-direction: row;
}
.colonna2 {
  width: calc(100%);
  margin-right: 40px;
  border: 1px solid black;
  height: 200px;
  margin-top: 40px;
  position: relative;


}

.colonna2 h4,
.colonna2 h6,
.colonna2 p

{
  margin-top: 20px;
  margin-left: 20px;
}
.colonna2 p {
  font-size: .8rem
  ;
}

.bottone {
  position: absolute;
  top: 60px;
  left: 900px;
  padding: 10px;
  background-color: lightskyblue;
  color: white;
  border: none;
}

.colonna3 {
  width: calc(100% / 2);
  border: 1px solid black;
  margin-right: 20px;
  height: 400px;
}

.riga2 h3 {
margin-top: 40px;
margin-left: 20px;
}

.riga2 p {
  margin-top: 40px;
  margin-left: 20px;
}

.bott {
margin-top: 20px;
margin-left: 20px;
padding: 10px;
background-color:white;

color: gray;
border: 1px solid black;
}

.riga2 img{
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.card {
  width: calc(100% / 3);
  border: 1px solid black;
  height: 400px;
padding: 0 10px;  
margin-bottom: 20px;
}

.card img{
width: 60%;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card h4 {
  margin-left: 20px;

}

.main {
  margin-top: 80px;

}

.main h2{
  margin-bottom: 30px;
}

.main a{
  color: blue;
  font-size: .8rem;
}

.col {
flex-grow: 1;  
border: 1px solid black;
height: 300px;
}

.col2 {
  flex-grow: 1.5;  
  border: 1px solid black;
  height: 300px;
  }

  .box {
    width: calc(100% / 2);
    border: 1px solid black;
    height: 150px;
    background-color: aqua;
  }
  .box.verde {
    background-color: green;
  }
  .box.marrone {
    background-color: brown;
  }
  .box.blu {
    background-color: blue;
  }

  .box.rosso{
    background-color: lightcoral;
  }

  .col2 {
    position: relative;
    background-color: antiquewhite;
    display: flex
  }
  .col2 img {
width: 15%;
top: 30px;
left: 30px;
position: absolute;
  }
  
 
.sep {
  height: 200px;
  width: 100%;
  background-color: lightblue;
}
.sep h3{
  color: brown;
  font-size: 2rem;
margin-left: 250px;
padding-top: 100px;
position: relative;
}

.bott {
  position: absolute;
  right: 400px;
  top: 3760px;
  padding: 10px;
  background-color:white; }